.callus {
  text-align: center;
  margin-bottom: 10px;
  transition: 0.3s;
  padding: 30px 20px;
}
.callus i {
  color: #db105f;
  font-size: 30px;
}
h4,
h6 {
  font-family: inherit;

  line-height: 2;
  color: #000;
}

label {
  display: inline-block;
  width: 130px;
  text-align: left;
  color: #000;
}
input {
  width: 50%;
}
textarea {
  width: 50%;
}
.btn {
  margin-top: 25px;
  margin-left: 180px;
  margin-bottom: 30px;
}
.submit {
  background: #db105f;
  color: #fff;
  font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.form {
  margin-top: 40px;
  margin-bottom: 20px;
}
